/* General Styling */
html,
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

textarea::placeholder {
    color: lightgray;
}

.ws-content {
    flex: 1 0 auto;
}


/* Nav Bar Styling */
.navbar {
    height: 4rem;
}

.ws-navbar-defaults, 
.ws-footer-logo-txt {
    font-family: 'Architects Daughter', cursive;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-weight: bold;
}

#ws-main-navbar-link {
    color: black;
}

#ws-main-navbar-link:hover {
    color: #dc3545;
}

.ws-comments-navbar {
    background-color: black;
}

#ws-comments-navbar-link {
    color: #fff;
}

#ws-comments-navbar-link:hover {
    color: #dc3545;
}


/* Header Styling */
.jumbotron {
    background-color: rgb(21, 21, 21);
    color: white;
}

.jumbotron-fluid {
    padding: 0;
}

#jumboPhoto {
    background: url('/images/html-code-image-3.jpg') no-repeat;
    background-size: 100% 100%;
}

#jumboText {
    padding: 15px;
}

#jumboText hr {
    border: 1px solid white;
}

.jumboTextLinks {
    color: rgb(5,99,128);
}

.jumboTextLinks:hover {
    color: rgb(5,128,128);
    text-decoration: none;
}


/* Main Page & Headline Styling */
#story-tab {
    color: black;
    font-weight: bolder;
    padding: 0 0 2rem 0;
}

.story-tabs {
    border-bottom: 1px solid darkgray !important;
}

.story-tab {
    border-color: darkgray darkgray #fff !important;
}

.headlineDate {
    color: gray;
}

.headline {
    margin-bottom: 5px;
    text-align: justify;
}

.headlineContent {
    margin-bottom: 5px;
}

.headlineImage {
    margin-bottom: 3px;
}

.headlineImage img {
    margin-bottom: 3px;
    width: 100%;
}

.headlineTitle {
    text-align: left;
}

.headlineTitle a {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.headlineTitle a:hover {
    color: rgb(5,128,128);
    text-decoration: none;
}

.headlineAuthor {
    color: gray;
}

.separator {
    border-top: 1px solid gray;
}

.ws-main-hl-hr {
    border-top: 1px solid lightgray;
    padding-bottom: 15px;
}

.commentLink {
    padding-top: 3px;
}

.commentLink a {
    color: gray;
    font-size: .95rem;
}

.commentLink a:hover {
    color: #dc3545;
    text-decoration: none;
}


/* Comments Page Styling */
.ws-comments-main-container {
    margin-top: 2rem;
    min-height: 100%;
}

#ws-comments-hl-date {
    font-size: .9rem;
}

/* Comment Form */
.ws-comments-comment-form {
    text-align: center;
}

#ws-comments-comment-form-header {
    color: #dc3545;
}

#ws-comments-comment-submit {
    padding: .1rem 1rem;
}

/* Comments */
#ws-comments-comments-header {
    background: black;
    color: white;
    margin: 1.5rem 0;
    text-align: center;
}

.ws-commments-comments-container {
    background-color: lightgoldenrodyellow;
    border-radius: 0 2.5rem 2rem;
    font-size: .9rem;
    margin: 0 1.5rem 1.5rem;
    padding: 1.5rem;
}

.ws-comments-comments-delete {
    float: right;
}

.ws-comments-comments-name {
    font-weight: bold;
}

.ws-comments-comments-date {
    color: gray;
    padding-bottom: 1rem;
}

.ws-comments-comments {
    font-size: 1rem;
}

.ws-comments-no-comments {
    color: gray;
    text-align: center;
}

/* Footer Styling */
.ws-footer {
    background-color: black;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin-top: 3rem;
    padding: .7rem 0 .1rem;
    text-align: center;
}

.ws-footer-logo-txt {
    font-size: 1.1rem;
}

.ws-footer-copyright {
    color: #dc3545;
}

.ws-footer-copyright:hover {
    color: #e25664;
    text-decoration: none;
}

.ws-footer-hb-logo {
    margin-top: -.7rem;
}

.ws-footer-hb-logo-txt {
    color: #f0772b;
}

.ws-footer-hb-logo-txt:hover {
    color: #f38f50;
    text-decoration: none;
}

.ws-footer-hb-logo img {
    height: 1.1rem;
    margin-top: -.2rem;
    width: 1.1rem;
}

/* Mobile Responsive Breakpoints */
@media all and (min-width: 320px) {
    .navbar .container-fluid {
        justify-content: center;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .ws-comments-comment-form {
        padding: 1rem 3rem 1rem;
    }

    .ws-footer {
        font-size: .8rem;
    }

    .ws-footer-logo-txt {
        font-size: 1rem;
    }
}

@media all and (min-width: 400px) {
    .ws-comments-comment-form {
        padding: 1rem 3rem 1rem;
    }

    .ws-footer {
        font-size: 1rem;
    }
    
    .ws-footer-logo-txt {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 576px) {
    .headlineDate {
        font-size: .9rem;
    }

    .ws-comments-comment-form {
        padding: 1rem 7rem 1rem;
    }
}

@media all and (min-width: 768px) {
    .navbar .container-fluid {
        justify-content: space-between;
    }

    .ws-comments-comment-form {
        padding: 1rem 4rem 1rem;
    }
}

@media all and (min-width: 992px) {
    .headlineDate {
        font-size: 1rem;
    }

    .ws-comments-comment-form {
        padding: 1rem 8rem 1rem;
    }
}

@media all and (min-width: 1200px) {
    .ws-comments-comment-form {
        padding: 1rem 10rem 1rem;
    }
}

@media all and (min-width: 1400px) {
    .ws-comments-comment-form {
        padding: 1rem 12rem 1rem;
    }
}