/* General Styling */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Nav Bar Styling */

#navbarLink {
    color: black;
    font-family: 'Architects Daughter', cursive;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

#navbarLink:hover {
    color: black;
}

.navbar {
    height: 4rem;
}


/* Header Styling */
.jumbotron {
    background-color: rgb(21, 21, 21);
    color: white;
}

.jumbotron-fluid {
    padding: 0;
}

#jumboPhoto {
    padding-left: 0;
}

#jumboPhoto img {
    max-width: 100%;
}

#jumboText {
    padding: 15px;
}

#jumboText hr {
    border: 1px solid white;
}

.jumboTextLinks {
    color: rgb(5,99,128);
}

.jumboTextLinks:hover {
    color: rgb(5,128,128);
    text-decoration: none;
}


/* Main Styling */

#story-tab {
    color: black;
    font-weight: bolder;
    padding: 0 0 2rem 0;
}

.story-tabs {
    border-bottom: 1px solid darkgray !important;
}

.story-tab {
    border-color: darkgray darkgray #fff !important;
}

.commentBar {
    background-color: whitesmoke;
    text-align: center;
}

.commentBar button {
    background-color: unset;
    border: 0;
    color: lightskyblue;
    font-weight: bold;
    padding: 5px;
}

.commentBar button:hover {
    background-color: lightskyblue;
    border-radius: 3px;
    color: white;
    font-weight: bold;
} 

.headline {
    margin-bottom: 5px;
    text-align: justify;
}

.headlineContent {
    margin-bottom: 5px;
}

.headlineImage {
    margin-bottom: 3px;
}

.headlineImage img {
    margin-bottom: 3px;
    width: 100%;
}

.headlineRow {
    margin-bottom: 25px;
}

.headlineTitle a {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.headlineTitle a:hover {
    color: gray;
    text-decoration: none;
}
.separator {
    border-top: 1.5px solid #eee;
    margin: 11px 0 0 0;
}


/* Comments Styling */

#commentInput {
    border: none;
    border-radius: 5px;
    height: 75px;
    padding: 5px;
    width: 100%;
    resize: none;
}

.comments button {
    background-color: unset;
    border: 0;
    color: lightskyblue;
    float: right;
    font-weight: bold;
    padding: 5px;
    width: 77px;
}

.comments button:hover {
    background-color: lightskyblue;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.commentPanel {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 1px 20px 20px;
}

.commentPanel h4 {
    color: lightskyblue;
    text-align: center;
}

.commentPanel img {
    height: 20px;
    width: 20px;
}

.comments {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.noComments {
    text-align: center;
}

textarea::placeholder {
    color: lightgray;
}